* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto;
}

/* header */
.all-header {
  height: 450px;
  background-color: #0C325A;
  background-image: url(../img/oldman.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 106% 100%;
}

/* nav-header */
.nav-header {
  width: 85%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}
.nav-header .float::after{
  content: "";
  display: table;
  clear: both;
}

/* nav-left */
.nav-header ul {
  list-style: none;
}
.nav-left{
  float: left;
}
.nav-header ul li {
  display: inline-block;
}
.nav-left .logo {
  width: 89px;
  top: 50%;
  transform: translateY(20%);
  margin-right: 25px;
}
.nav-header ul li a {
  margin-right: 10px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.nav-header ul li a:hover{
  color: #F8B71C;
}
/* fine nav left */

/* nav-right */
.nav-right {
  float: right;
}
.nav-right .login {
  border: 1px solid #fff;
  padding:7px 20px;
  border-radius: 5px;
}
.nav-right .struttura {
  background-color: #7FB800;
  padding:7px 20px;
  border-radius: 5px;
}
/* fine nav-right */

/* header-center */
.header-center {
  position: relative;
  width: 85%;
  height: 370px;
  margin: 0 auto;
}
.header-center .header-claim {
  position: absolute;
  width: 45%;
  top: 50%;
  transform: translateY(-50%);
}
.header-claim h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
}
.header-claim .struttura {
  padding:7px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #7FB800;
  color: #fff;
}
